.App {
  text-align: center;
}

.App-header {
  height: 2rem;
  background: gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-footer {
  position: fixed;
  height: 1rem;
  width: 100%;
  bottom: 0;
  font-size: 0.8rem;
  background-color: gray;
}
