.App {
  text-align: center;
}

.App button {
  cursor: pointer;
}

.App > main {
  margin: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1rem;
  border-radius: 5px;
}

.App-header {
  height: 2rem;
  background: black;
  color: white;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-footer {
  position: fixed;
  background: black;
  color: white;
  height: 1rem;
  width: 100%;
  bottom: 0;
  font-size: 0.8rem;
}
