.Form-add {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
}

.Form-section {
    display: flex;
    margin: 0.5rem;
}

.Form-section:last-child {
    justify-content: center;
    align-items: center;
}

.Form-section > label {
    min-width: 5rem;
    max-width: 10rem;
    text-align: left;
}

.Form-section > input {
    min-width: 5rem;
    max-width: 10rem;
    border-radius: 3px;
    border: 1px solid darkgray;
}

.Form-section > button {
    color: white;
    font-weight: 600;
    border-radius: 3px;
    border: 1px solid lightblue;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}