.TableBody, tr {
    border-bottom: 1px solid darkgray;
}

.TableBody button {
    color: white;
    font-weight: 600;
    border-radius: 3px;
    border: 1px solid crimson;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, maroon, darkred 35%, crimson 100%);   
}